.fixed-element {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

body {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }


.nav-link:hover {
    background-color:chocolate;
}
.nav-link{

    font-size: 35px;
}

.yatayçizgi{

    border-top: 2px solid rgba(0, 0, 0, 0.5); /* Saydamlık eklenmiş */
}

.pt-3:hover{
    color: black;
    font-size: 25px;

}

.img-fluid:hover{

    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
}